<%- include('../partials/header') -%>

<div class="container">
    <header>
      <div class="jumbotron">
        <h1 class="display-4">Welcome to SetOut</h1>
        <p class="lead">View these places from all over the world</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="/posts/new" role="button">Add a new POST</a>
      </div>
    </header>
    
    <div class="card-columns">
      <% posts.forEach(function(post){ %>
        <div class="card">
          <img class="card-img-top" src="<%= post.image %>" alt="Card image cap">
          <div class="card-body text-center">
            <h5 class="card-title"><%= post.title %></h5>
            <a href="/posts/<%= post._id %>" class="btn btn-primary ">More Info</a>
          </div>
        </div>
      <% }); %>
    </div>
  </div>

<%- include('../partials/footer') -%>